<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

        <application
        android:name=".TounesnaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tounesna"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <!-- Profile Activity -->
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".view.DashboardActivity" />
        
        <!-- Edit Profile Activity -->
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".view.ProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        
        <!-- Requests Activity (Organization) -->
        <activity
            android:name=".view.RequestsActivity"
            android:exported="false"
            android:parentActivityName=".view.DashboardActivity" />
        
        <!-- Create Request Activity (Volunteer) -->
        <activity
            android:name=".view.CreateRequestActivity"
            android:exported="false"
            android:parentActivityName=".view.DashboardActivity"
            android:windowSoftInputMode="adjustResize" />
        
        <!-- Search Activity -->
        <activity
            android:name=".view.SearchActivity"
            android:exported="false"
            android:parentActivityName=".view.DashboardActivity"
            android:windowSoftInputMode="adjustResize" />
        
        <!-- Organization Profile Activity -->
        <activity
            android:name=".view.OrganizationProfileActivity"
            android:exported="false"
            android:parentActivityName=".view.SearchActivity" />
        
        <!-- Notifications Activity -->
        <activity
            android:name=".view.NotificationsActivity"
            android:exported="false"
            android:parentActivityName=".view.DashboardActivity" />
        
        <!-- Create Post Activity -->
        <activity
            android:name=".view.CreatePostActivity"
            android:exported="false"
            android:parentActivityName=".view.DashboardActivity"
            android:windowSoftInputMode="adjustResize" />
        
        <!-- Post Detail Activity -->
        <activity
            android:name=".view.PostDetailActivity"
            android:exported="false"
            android:parentActivityName=".view.DashboardActivity" />
        
        <!-- Dashboard Activity -->
        <activity
            android:name=".view.DashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        
        <!-- Register Activity -->
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        
        <!-- Login Activity -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Debug Activity (for DB export/viewing) -->
        <activity
            android:name=".view.DebugActivity"
            android:exported="false"
            android:label="DB Debug" />
            
    </application>

</manifest>